<!DOCTYPE html>
<html lang="en">

<head>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block metadata %}
        {% include "theme::partials/metadata" %}
    {% endblock %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
</head>

<body>
    <div class="container-fluid fixed">
        <div class="container">
            {% include "theme::partials/header" %}
        </div>

        {% block content %}{% endblock %}

        {% include "theme::partials/footer" %}
    </div>


</body>

</html>
